@charset "utf-8";
@import "reset.css";
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a{ color:#090909; }


body{ font-family:'Recipekorea','맑은 고딕'; font-size:14px; color:#090909; }

#main_header{ width:100%; margin:50px; }

